
iframe{
    height: 100%;
    width: 100%;
    border: none;
}

html{
    padding: 0;
    margin: 0;
}





::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Define the custom scrollbar track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Define the custom scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Show the custom scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Allow scrolling */
 

 a:link{
  text-decoration: none;
  text-decoration-color: white;
 
 }

 



body {
  margin: 0;
  padding-top: 20vh;
  padding-left: 8vw;
  font-family: 'Roboto Mono', monospace;
  background-color: #1a1818;
  
}

.navbar {
  background-color: black;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.button-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  height: 100%;
  
}

.contact-ul{
list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  height: 100%;
  margin-top: -9.7vh;
}
.contact-link{
color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 1vw;
}
.brand-ul{
list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  
  align-items: center;
  height: 100%;
  
}


.list-button {
  margin: 0 1vh;
  
}

.list-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  
  
  
}
.iframe-div{
  
  
  
    
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%);
      max-width: 100%;
      max-height: 100%;
      width: 80vw;
      height: 80%;
      
    
  
  


}

.logo{
  margin-top: 0.5vh;
  width: 4.5vw;
}
.iframe-div{
  padding-bottom: 5vh;
  background-color: #980b1a;
  
}

.fullscreen{
  position: absolute;
  bottom: 0.5vh;
  left:73vw;
  background-color: #980b1a;
  font-size: 1rem;
}

#gba-style{
  width:60vw;
  height:70vh;
  max-width:100%;
  margin-top: 0vh;
  margin-left: 20vw;
}

@media screen and (min-width: 1920px) and (max-width: 2560px) and (min-height: 1080px) {
  /* CSS styles for screens with a resolution of 1980 x 1080 */

  
 

  .list-link {
    font-size: 2.5rem;
  }

  .contact-link{
    font-size: 2.5rem;
  }
}