html {
  --scrollbarBG: black;
  --thumbBG: #1a1818;
}
body::-webkit-scrollbar {
  width: 0.8vw;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #1a1818;
    
}

.navbar {
    background-color: black;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  
}




.button-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
    
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
  
}
.contact-ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
    margin-top: -9.7vh;
    gap: 2%;
}
.contact-link{
  color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1vw;
}
.brand-ul{
  list-style-type: none;
   
    padding: 0;
    display: flex;
    
    align-items: center;
    height: 100%;
    
}


.list-button {
    margin: 0 10px;
    
}

.search-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  
  align-items: center;
  height: 100%;
  padding: 0;
}

.form-container{
  padding: 0;
  margin-left: 30vw;
  margin-top: -8vh;
  
}
.list-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    
    padding-left: 0.5vw;
    
    
}

.grid-container {
    display: grid;
    column-gap: 30px;
   
    
    
  
  }
   




  .container {
    color: var(--color);
    font-size: 0rem;
    display: flex;
    flex-direction: column;
  }
  
  .right {
    text-align: right;
    width: 100%;
  }
  
  .list-link {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .list-link span {
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 2vw;
    --list-link-height: calc(100% / var(--list-links) - 1px);
    --inverse-index: calc(calc(var(--list-links) - 1) - var(--index));
    --clip-top: calc(var(--list-link-height) * var(--index));
    --clip-bottom: calc(var(--list-link-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: list-link 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .list-link span:nth-child(odd) { --glitch-translate: 8px; }
  .list-link span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes list-link {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }



  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 30px;
    
  }

  .game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12vw, 0fr));
    grid-gap: 5vw;
    margin-top: 20vh;
    margin-left: 15vw;
    margin-right:14vw;
    
  }
  
  .game {
    display: flex;
    flex-direction: column;
    background-color: red;
    border-radius: 5%;
    text-align: center;
    

  }
  
  .game a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    
  }
  
  .game img {
    width: 12vw;
    height: 25vh;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  
  }
  
  .game h3 {
    margin: 2%;
    font-size: 0.9rem;
    ;
  }
  
  .game p {
    margin: 0;
    font-size: 1rem;
    color: #777;
  }
  
  .search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  input {
    font-size: 1.2rem;
    padding-right: 10vw;
    border-radius: 5px;
    padding-bottom: 1.5vh;
    border-color: rgb(0, 0, 0);
    background-color: #1a1818;
    color: white;
    text-decoration: none;
    outline: none;
    
    
  }

  .hide{
    display: none;
  }




  .grid-container {
    display: flex; /* Create a flex container */
    flex-direction: column; /* Allow items to wrap to next row */
    margin-left: 85vw; /* Set left margin */
    /* Set bottom padding */
    margin-top: -225vh;
    grid-gap: 20vh;
  }
  
  .grid-item {
    /* Set item styles */
    width: 13vw;
    height: 100vh;
    background-color: transparent;
    border-color: transparent;
  }
  

  .opgrid-container {
    display: flex; /* Create a flex container */
    flex-direction: column; /* Allow items to wrap to next row */
    margin-left: 0vw; /* Set left margin */
    padding-bottom: 80vh; /* Set bottom padding */
    margin-top: -301vh;
    grid-gap: 20vh;
  }
  
  .opgrid-item {
    /* Set item styles */
    width: 13vw;
    height: 100vh;
    background-color: transparent;
    
  }


  .logo{
    width: 4vw
  }

  .add-button {
    position: absolute;
    top: 1px;
    left: 1px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1vw;
    background-color: black;
  }
@media screen and (width: 1980px)  and (height: 1080px) {
  /* CSS styles for screens with a resolution of 1980 x 1080 */

  
  input{
    margin-top: 0.8vh;

  }

  .list-link {
    font-size: 2.5rem;
  }

  .contact-link{
    font-size: 2.5rem;
  }
  
}
