
body {
    margin: 0;
    padding-top: 12vh;
    padding-left: 8vw;
    font-family: 'Open Sans';
}

.navbar {
    background-color: black;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.button-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
}


.brand-ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
}

h1{
  font-size: 30px;
  padding-bottom: 20vh;
  color: white;
}
.list-button {
    margin: 0 10px;
    
}

.search-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  height: 100%;
  
}

.form-container{
  padding-left: 30vw;
  padding-bottom: 37vh;
}
.list-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    
}

.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0fr));
    grid-gap: 10px;
  }
  
  .game {
    display: flex;
    flex-direction: column;
  }
  
  .game a {
    display: block;
    text-decoration: none;
    color: #333;
  }
  
  .game img {
    width: 100%;
    height: 40vh;
    border-radius: 5px;
   align-items: cen;
  }
  
  .game h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .game p {
    margin: 0;
    font-size: 1rem;
    color: #777;
  }
  
  .search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  input {
    font-size: 2rem;
    border-radius: 5px;
    margin-bottom: 2vh;
    border-color: white;
    background-color: #000000;
    color: white;
  }

  .hide{
    display: none;
  }

button{
  background-color: black;
  color: white;
  font-size: 2rem;
  margin-left: 2%;
}
