
body {
    margin: 0;
    padding-top: 12vh;
    padding-left: 8vw;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.navbar {
    background-color: black;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.button-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 100%;
}


.brand-ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
}


.list-button {
    margin: 0 10px;
    
}

.search-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  height: 100%;
  
}

.form-container{
  margin-left: 30vw;
  margin-bottom: 37vh;
}
.list-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    
}

.grid-container {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    
  }

  .game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12vw, 0fr));
    grid-gap: 5vw;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    background-color: red;
    border-radius: 5%;
    text-align: center;

  }
  
  .game a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    
  }
  
  .game img {
    width: 12vw;
    height: 25vh;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  
  }
  
  .game h3 {
    margin: 2%;
    font-size: 0.9rem;
    ;
  }
  
  .game p {
    margin: 0;
    font-size: 1rem;
    color: #777;
  }
  
  .search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }
  
  input {
    font-size: 1.3rem;
    padding-right: 10vw;
    border-radius: 5px;
    margin-bottom: 2vh;
    border-color: rgb(0, 0, 0);
    background-color: #1a1818;
    color: white;
    text-decoration: none;
    outline: none;
    
    
  }

  .hide{
    display: none;
  }

button{
  background-color: black;
  color: white;
  font-size: 2rem;
  margin-left: 2%;
}
